php_value error_reporting 2039
#php_flag display_errors on
php_value magic_quotes_gpc off

AddDefaultCharset utf-8
php_value default_charset utf-8

RewriteEngine On

RewriteCond     %{REQUEST_URI}  !^/*themes/planet-whatever/.*
RewriteCond     %{REQUEST_URI}  !^/*themes/standard/.*
RewriteRule ^/*themes/(.+)$  ./themes/planet-whatever/$1 [L]


RewriteCond     %{REQUEST_URI}  !^/*themes/planet-whatever/.*
RewriteCond     %{REQUEST_URI}  !^/*index.php
RewriteCond     %{REQUEST_URI}  !^/*index2.php
RewriteCond     %{REQUEST_URI}  !^/*index3.php
RewriteCond     %{REQUEST_URI}  !^.*info.php
RewriteCond     %{REQUEST_URI}  !^.*test.php
RewriteCond     %{REQUEST_URI}  !^.*js/
RewriteCond     %{REQUEST_URI}  !^.*ping/
RewriteCond     %{REQUEST_URI}  !^.*stats/
RewriteCond     %{REQUEST_URI}  !^.*images/
RewriteCond     %{REQUEST_URI}  !^.*osd.xml
RewriteCond     %{REQUEST_URI}  !^.*map.php
RewriteCond     %{REQUEST_URI}  !^.*info.php
RewriteCond     %{REQUEST_URI}  !^.*robots.txt
RewriteCond     %{REQUEST_URI}  !^.*admin/
RewriteCond     %{REQUEST_URI}  !^.*_vti_.*
RewriteCond     %{REQUEST_URI}  !favicon.ico
RewriteCond     %{REQUEST_URI}  !^/*addGeoLoc.php
RewriteCond     %{REQUEST_URI}  !search.html
RewriteCond     %{REQUEST_URI}  !^/*_blank.html$
RewriteCond     %{REQUEST_URI}  !^/*map/
RewriteCond     %{REQUEST_URI}  !planet-php.src
RewriteRule ^(.+)$ ./index.php?path=$1 [QSA]

