#php_value error_reporting 2039
#php_flag display_errors on
#php_value magic_quotes_gpc off

AddDefaultCharset utf-8
php_value default_charset utf-8

#RewriteEngine On

DirectoryIndex router.php

# 195.226.16.50
#RewriteCond %{REMOTE_ADDR} 72.55.156.179   
#RewriteRule /*rdf/ ./rippers/rdf.php [L]

RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(js|ico|gif|jpg|png|css)$ /router.php

# planet-pear.org specific
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L] 

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L] 